.home{
    flex: 4;
    margin-top: 50px;
}
.homeWidgets{
    display: flex;
    margin: 20px;
}
.main__container {
    padding: 20px 35px;
  } 
  .main__title {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-left: 40px;
  }
  .main__title > img {
    max-height: 100px;
    object-fit: contain;
    margin-right: 20px;
    border-radius: 10rem;
  }
  .main__greeting > h1 {
    font-size: 40px;
    color: #2e4a66;
    margin-bottom: 4px; 
  }
 
.problems_display{
  margin-left: 70px;
  margin-top: 70px;
  width: 90%;
  font-size: x-large;
  font-weight: bold;
  box-shadow: inset;
  border: 2px solid black;
  border-radius: 10px;
}
h4{
  margin-left: 350px;
  text-decoration-line: underline;
}