

.container{
    display:grid;
    grid-template-columns: repeat(auto-fit);
    gap:4rem;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;
  

}





.fish-logo{
    height: 18rem;
    width: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.fish-logo:hover{
    transform: scale(1.02);
}
.fish-name{
    text-align: center;
}
