.welcome{
    text-align: center;
}
.logo{

     width: "125px";
     height: 125px;
}
.main-nav{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns:30px 1fr 2fr 1fr 50px;
    background: linear-gradient(90deg, rgb(67, 178, 206) 0%, rgb(67, 178, 206)) 100%;
    margin-bottom: 30px;
}
.navbar-logo{
    grid-column: 2/3;
    height: 100px;
    display: flex;
    justify-content: start;

    
    align-items: center;
}

.menu-list{
   
    grid-column: 3/4;
}
.menu-list ul{
    height: 100px;
   display:flex;
   justify-content:space-around;
   align-items: center;
   list-style-type: none;
  
}
.menu-list ul li:hover > a{
    text-decoration: underline;
    transition: 0.5s;

}
.logout{
    grid-column: 4/5;
}
.logout ul{
    height: 100px;
    display:flex;
    justify-content: end;
    align-items: center;
    list-style-type: none;
 
}
.logout ul li:hover > a{

    text-decoration: underline;
    transition: 0.5s;
}